<% #FIXME_AB: They are not just category filter. You should have a shared directory and move this partial in there #Fixed -%>

<% filters_hash = extract_filters_from_products(@products) %>
<div id="filters" class="span2">
  <div class="filter-heading"> Colors </div>
  <div id="color-filters">
    <% filters_hash[:color].each do |color| %>
      <div class="filterElement">
        <%= check_box_tag(color) %>
        <% #FIXME_AB: You should use label to make it user friendly #Fixed -%>
          <%= label_tag(color, color, class: 'filterName') %>
          <br>
      </div>
    <% end %>
  </div>
  <div class="filter-heading"> Brands </div>
  <div id="brand-filters">
    <% filters_hash[:brand].each do |brand| %>
      <div class="filterElement">
        <%= check_box_tag(brand) %>
          <%= label_tag(brand, brand, class: 'filterName') %>
          <br>
      </div>
    <% end %>
  </div>
</div>