<div id='display-container' class="span8">
  <div id="new-today">
    New Today
  </div> 
  <div id="latest-products-container" data-href="<%= products_path %>">
  </div>
</div>
<div id='side-panel' class='span3'>
  <img src="assets/side-panel.jpg" class='panel-image'>
</div>
<div class='product-focus span10 offset1'></div>